*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}
body {
    background-color: #f4f4f4;
    width: max(50%, min(100%, 70rem ));
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-weight: 800;
    font-size: 6rem;
    color: #e4e4e4;
}
#sidebar {
    grid-row-start: 1;
    grid-row-end: 100;
}
#addBook{
    aspect-ratio: 0.75;
    width: 80%;
    border: 2px solid #000;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addBook:hover{
    background-color: #e4e4e4;
    /* filter: drop-shadow(1px 1px 4px #999999); */
}
.check {
    cursor: pointer;
}
.check:hover {
    animation: scale-sm 0.2s ease-out forwards;
}
.button-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
.button-sm:hover{
    -webkit-box-shadow:rgba(0,0,0,0.4) 1px 0px 8px;
    -moz-box-shadow: rgba(0,0,0,0.4) 1px 0px 8px;
    box-shadow: rgba(0,0,0,0.4) 1px 0px 8px;
    cursor: pointer;
}
.pad-left{
    padding-left: 1rem;
}
.pad-right{
    padding-right: 1rem;;
}
.pad-top{
    padding-top: 1rem;
}
#header{
    width: 100%;
    margin-bottom: 1rem;
    /* border: 2px solid red; */
}
.page {
    display: flex;
}
.text-lg{
    font-weight: 800;
    font-size: 2.5rem;
}
.text-md{
    font-weight: 800;
    font-size: 1.1rem;
}
.text-sm {
    font-size: 0.8rem;
}
.text-sub {
    font-weight: 600;
}
.text-super {
    font-size: 1.1rem;
    vertical-align: 0.8rem;
}
.outline {
    fill: none;
    stroke: #646464;
    stroke-width: 1px;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}
#content {
    /* display: inline-block; */
    /* border: 2px solid green; */
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows:auto;
    /* gap: 0.4rem; */
    /* grid-template-rows: repeat(2,1fr); */
    width: 100%;
}
.book {
    /* border: 2px solid lightskyblue; */
    padding-right: 0.4rem;
    margin-bottom: 1rem;
    /* margin-bottom: 0.4rem; */
}
.cover {
    aspect-ratio: 0.75;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 0.4rem;
}
.filled {
    background-color: lightcoral;
}
.outline-w{
    border: 2px solid #fff;
}
.blank {
    background-color: #e0e0e0;
    border: 2px solid #dfdfdf;
}

.delete {
    margin-bottom: 0.4rem;
}
.icon-sm {
    /* padding; auto; */
    /* height: 2rem;
    width: 2rem; */
}
.img-full{
    width: 100%;
}
.icon-md {
    padding: 0;
    width: 20%;
}

#gen-new-cover:hover{
    cursor: pointer;
    animation: reload 0.2s ease-out forwards;
}
.icon-lg {
    padding: 0;
    width: 50%;
    /* outline: 2px solid red; */
}
.hidden {
    visibility:hidden;
}
/* .upper-icons > * {
    visibility:hidden;
} */
.shadow:hover {
    .cover {
        /* background-color: #fff; */
        filter: drop-shadow(1px 1px 16px #999999);    

    }
    .filled{
        border: 2px solid #000;
    }
    .hidden,
    .hidden > * {
        visibility: visible;
    }
}
dialog {
    border: none;
    margin: 0;
    position: fixed;
    top: 0px;
    right: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #0000009a;
    z-index: 10;
}
.black {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputPage {
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    aspect-ratio: 0.55;
    /* width: 50%; */
    height: 70%;
    position:relative;
    overflow: hidden;
}
.pageContent{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 100%;
    /* outline: 1px solid red; */
}

.inputCover{
    width: 70%;
}
.inputDetails{
    height: 100%;
    width: 100%;
    /* outline: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.inputBox {
    border: none;
    /* width: 100%; */
    height: 2.0rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    padding-left: 1rem;
}

.inputBox:focus {
    font-weight: 400;
    border: 1px solid black;
    /* outline: none; */
}

.inputBox-short {
    width: 40%;
    /* height: 2.5rem; */
}
.width-100 {
    width: 100%;
}
.width-40{
    width: 40%;
}
.field {
    /* width: 100%; */
    height: 100%;
    /* border: 2px solid lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    gap: 0.2rem;
    /* align-items: center; */
}
label {
    font-size: 1rem;
    margin-left: 0rem;
    /* margin-bottom: 2rem; */
    /* outline: 1px solid red; */
}
.together {
    height: 100%;
    width: 100%;
    /* border: 2px solid lightcoral; */
    display: flex;
    justify-content: space-between;

    /* height: 2.5rem; */
}
#save{
    margin-left: 20%;
    margin-right: 20%;
    /* border: 2px solid orange; */
    width: 60%;
    height: 2.5rem;
    border: none;
    background-color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    color: #f4f4f4;
    cursor: pointer;
    /* width: 100%; */
    /* height: 2.5rem; */
}
#save:hover{
    border: 2px solid #000;
    color: #000;
    background-color: #5BCF71;
}
.close {
    /* margin-left: auto; */
    top: 0.2rem;
    right: 0.2rem;
    position:absolute;
}
.toggle {
    height: 2rem;
    border: 1px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0d0d0;
    border: 2px solid black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #5BCF71;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #5BCF71;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


@keyframes scale-sm {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
  }

  @keyframes reload {
    0% {
        transform: scale(1);
        transform: rotate(0);
    }
    100% {
        transform: scale(1.1);
        transform: rotate(30deg);
    }
  }